<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sounder S">
    <meta name="description" content="coffee & tea packages shopping website where delivery available in southern states of india">
    <title>Nexus Beverages</title>
    <link rel="icon" href="./img/CoffeeShopLogo2.png" type="image/x-icon">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header>
        <nav>
            <div id="logo">
                <a href="#">NEXUS</a>
            </div>
            <ul class="nav-list ignore">
                <li><a href="#">Home</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            <div id="nav-bar">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
    </header>
    <main>
        <p id="logo-header">NEXUS</p>
        <h1>Welcome to Nexus Beverages !!!</h1>
        <div id="quote-container">
            <center>
            <blockquote>"Today's good mood is sponsored by coffee."</blockquote>
            <blockquote>"Adventure in life is good. Consistency in coffee even better."</blockquote>
            </center>
        </div>
        <div id="menu-container">
            <h2 id="menu">Menu</h2>
            <button id="reset-btn">Reset</button>
            <div id="products">
                <div class="card">
                    <figure>
                        <img src="./img/coffee_pic.jpg" alt="coffee pic">
                        <figcaption>Coffee Packet</figcaption>
                    </figure>
                    <div class="details coffee">
                        <p>Quantity : 500g<br>
                            MRP : Rs.200</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button><br>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="./img/tea_pic.jpg" alt="tea pic">
                        <figcaption>Tea Packet</figcaption>
                    </figure>
                    <div class="details tea">
                        <p>Quantity : 500g<br>
                            MRP : Rs.180</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure id="black-coffee">
                        <img src="./img/black_coffee_pic.jpg" alt="black coffee pic">
                        <figcaption>Black Coffee Packet</figcaption>
                    </figure>
                    <div class="details black-coffee">
                        <p>Quantity : 500g<br>
                            MRP : Rs.230</p>
                        <div class="display-btn">
                        <button class="sign-plus">+</button>
                        <div class="output">0</div>
                        <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="./img/ginger_tea_pic.jpg" alt="ginger tea pic">
                        <figcaption>Ginger Tea Packet</figcaption>
                    </figure>
                    <div class="details ginger-tea">
                        <p>Quantity : 500g<br>
                            MRP : Rs.300</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="./img/green_tea_pic.jpg" alt="green tea pic">
                        <figcaption>Green Tea Packet</figcaption>
                    </figure>
                    <div class="details green-tea">
                        <p>Quantity : 500g<br>
                            MRP : Rs.250</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure id="lemon-tea">
                        <img src="./img/lemon_balm_tea_pic.jpg" alt="lemon tea pic">
                        <figcaption>Lemon Balm Tea Packet</figcaption>
                    </figure>
                    <div class="details lemon-tea">
                        <p>Quantity : 500g<br>
                            MRP : Rs.210</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure id="kumbakonam">
                        <img src="./img/kumbakonam_filter_coffee.jpg" alt="filter coffee pic">
                        <figcaption>Kumbakonam Filter Coffee Packet</figcaption>
                    </figure>
                    <div class="details filter-coffee">
                        <p>Quantity : 500g<br>
                            MRP : Rs.340</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure id="green-coffee">
                        <img src="./img/green_coffee.jpg" alt="green coffee pic">
                        <figcaption>Green Coffee Packet</figcaption>
                    </figure>
                    <div class="details green-coffee">
                        <p>Quantity : 500g<br>
                            MRP : Rs.200</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
                <div class="card">
                    <figure id="peppermint">
                        <img src="./img/peppermint_tea.jpg" alt="peppermint tea pic">
                        <figcaption>Pepper Mint Tea Packet</figcaption>
                    </figure>
                    <div class="details peppermint-tea">
                        <p>Quantity : 500g<br>
                            MRP : Rs.240</p>
                        <div class="display-btn">
                            <button class="sign-plus">+</button>
                            <div class="output">0</div>
                            <button class="sign-minus">-</button>
                        </div>
                        <div class="total">Rs.0</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="billings">
            <h3>Billings</h3>
            <hr>
            <div class="items">
                <table id="bill">
                    <caption>Bill</caption>
                    <tbody>
                    <tr id="start">
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Weights(kgs)</th>
                        <th scope="col">Price</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="./payment.html"><button type="submit" id="payment">Total : Rs.0</button></a>
        </div>
        <div id="about">
            <h3>About</h3>
            <p>Nexus is a india's popular beverages company that was providing beverages since 1980. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo dolorum recusandae iste nisi veritatis velit expedita maiores libero, aspernatur debitis. Enim libero ratione dolore quam suscipit illo sapiente, quos amet tempora nobis deleniti eveniet sit reprehenderit veritatis odit quo aperiam neque tempore ea, dolores rerum, commodi accusamus minima repellat? Dolores molestias illum architecto in aliquam sunt sint iste porro ullam ipsam! In quae impedit neque eligendi quibusdam, temporibus vitae, totam odio, nobis atque optio? Illo inventore tenetur consectetur possimus?</p>
        </div>
    </main>
    <footer>
        <center>
            <address>
            No:10, New XYZ Street,<br>
            ATD Colony,<br>
            Chennai - 603310.<br>
            </address>
            <p>
                Contact : <a href="tel:+919876543210">+919876543210</a>
            </p>
            <p>
        2023 Nexus CopyRights&copy; Nexus&trade;</p>
        </center>
    </footer>
    <script src="./index.js"></script>
</body>
</html>